<!DOCTYPE html>

<html>

<head>
    
    <link rel="stylesheet" href="/css/styles.css">


</head>
<title>About</title>
<link rel="icon" href="/img/weather.png">
<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Emre Cebeci. It uses data from mapbox.com and weatherstack.com! </p>
    <img class="portrait" src="/img/hakan.jpeg" >

    </div>
    {{>footer}}
</body>



</html>