<!DOCTYPE html>

<html>

<head>
    
    <link rel="stylesheet" href="/css/styles.css">


</head>
<title>About</title>
<link rel="icon" href="/img/weather.png">
<body>
    <div class="main-content">
    {{>header}}
    <img class="portrait" src="/img/emre.jpg" >

    </div>
    {{>footer}}
</body>



</html>